@use 'variables' as v;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    min-width: 32rem;
    font: v.$paragraph;
    background-color: darken(v.$grisClaro, 3%);

    @media (min-width: 768px) {
        font: v.$paragraph-tablet;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

h1 {
    font: v.$title1;
}

h2 {
    font: v.$title2;
}

h3 {
    font: v.$title3;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

ul {
    list-style: none;
}

input,
textarea {
    outline: none;
}